body {
  font-family: 'Raleway', sans-serif;
  /* note: set font style for page */
}

.logo {
  margin-top: 15px;
  margin-left: 15px;
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
  /* note: headline font stlye */
}

a {
  /* color: #551a8b; */
  /* note: purple link style */
}

.navigation {
  color: #ff512f;
  text-transform: uppercase;
}

.men-nav {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
}

.women-nav {
  color: magenta;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0;
  padding-bottom: 5px;
  border-bottom:2px solid magenta;
}

.boys-nav {
  display: inline-block;
  margin-bottom: 0;
  padding-right: 15px;
}

.girls-nav {
  display: inline-block;
  margin-bottom: 0;
  padding-right: 15px;
}

.customize-nav {
  display: inline-block;
  margin-bottom: 0;
  padding-right: 15px;
}

.sub-navigation {
  color: #ff512f;
  text-transform: capitalize;
}

.help-nav {
  display: inline-block;
  margin-left: 15px;
  padding-right: 15px;
}

.account-nav {
  display: inline-block;
  padding-right: 15px;
}

.cart-nav {
  display: inline-block;
  padding-right: 15px;
}

.header-paragraph {
  color: white;
  background: #ff512f;
  padding: 50px 250px
  /* note: white paragraph text in top section */
}

.spring-summer {
  color: brown;
  text-transform: uppercase;
  margin-bottom:30px;
}

.intro-blurb {
  line-height: 30px;
  border-bottom:2px dashed brown;
  border-top:2px dashed brown;
  padding:20px 0;
  width:850px;
}

.price {
  padding: 5px 10px 5px 0;
  display: inline-block;
}

.buy-button {
  color: #ff512f;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 10px;
  width:120px;
  height:40px;
  display: inline-block;
}

.text-paragraph {
  color: #ae9797;
  padding: 50px 250px;
  /* note: gray body copy in middle section */
}

h4 {
  color: #503226;
  font-size: 25px;
  /* note: brown headers in middle section */
}

.recommended {
  background: gray;
  margin: 0;
  height:50px;
  line-height:50px;
  text-align: center;
}

.funny-sneakers-paragraph {
  color: white;
  padding: 50px 250px;
  background: #ff512f;
  /* note: purple underlined text with orange background */
}

h6 {
  color: white;
  font-size: 20px;
  margin-bottom: 0;
  /* note: sub-head font style */
}

span {
  color:#ae9797;
  /* note: gray body copy in footer */
}
